LINUX_USERNAME=username

WEBUI_SECRET_KEY=change-me-to-a-long-random-secret
ENABLE_SIGNUP=true

DEFAULT_USER_EMAIL=user@example.com
DEFAULT_USER_NAME=root
DEFAULT_USER_PASSWORD=secret


# ---------- N8N LLM SETTINGS ----------
N8N_OVERVIEW_MAX_CHARS=8000
N8N_LLM_NUM_GPU=20

# ---------- DEFAULT CHAT MODEL ----------
N8N_LLM_FAST_MODEL=qwen3.5:9b

# ---------- HEAVY REASONING ----------
N8N_LLM_REASONING_MODEL=deepseek-r1:32b # multi-step reasoning + logic chains + math-style thinking
N8N_LLM_REASONING_MODEL_2=qwen3.6:35b #general intelligence + broad knowledge + better language

# ---------- CODE SPECIALIST ----------
N8N_LLM_CODE_MODEL=qwen3-coder:30b

# ---------- VISION MODEL ----------
N8N_LLM_VISION_MODEL=llava:13b

# ---------- EMBEDDINGS ----------
N8N_LLM_EMBED_MODEL=nomic-embed-text

# ---------- OLLAMA ----------
N8N_OLLAMA_BASE_URL=http://ollama:11434

# ---------- WORKFLOW SETTINGS ----------
N8N_NEWS_INTERESTS=technology, artificial intelligence, economics, Italian politics, science
